{% extends 'base.html.twig' %}


{% block table_devis %}

<div class="table_devis">



<h2>Devis :</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Product_id</th>
        <th>Devis_id</th>
        <th>Quantité</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>N°1845</td>
        <td>N°1845</td>
        <td>  3</td>

      </tr>
      <tr>
        <td>N°1846</td>
        <td>N°1846</td>
        <td>5</td>

      </tr>
      <tr>
        <td>N°1847</td>
        <td>N°1847</td>
        <td>4</td>

      </tr>
    </tbody>
  </table>











</div>

{% endblock %}
