{% extends 'base.html.twig' %}

{% block table_users %}

<div class="table_users">



<h2>Users :</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Mot de passe</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Loukili</td>
        <td> Nassim</td>
        <td>loremipsum@gmail.com</td>
        <td>**********</td>
      </tr>
      <tr>
        <td>Dujardin</td>
        <td>Jean</td>
        <td>jeandujardin@gmail.com</td>
        <td>***********</td>
      </tr>
      <tr>
        <td>Ipsum</td>
        <td>Lorem</td>
        <td>loremipsum@gmail.com</td>
        <td>***********</td>
      </tr>
    </tbody>
  </table>











</div>

{% endblock %}
